<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>

    <TinyTweaks.SettingsCategory>Tiny Tweaks</TinyTweaks.SettingsCategory>
    <TinyTweaks.NextPage>Next Page</TinyTweaks.NextPage>
    <TinyTweaks.PreviousPage>Previous Page</TinyTweaks.PreviousPage>
    <TinyTweaks.Expand>Expand</TinyTweaks.Expand>
    <TinyTweaks.Collapse>Collapse</TinyTweaks.Collapse>
 
    <TinyTweaks.GameRestartNotRequired>Note: Changes made to these settings will be applied instantly - a game restart is not required.</TinyTweaks.GameRestartNotRequired>
    <TinyTweaks.GameRestartRequired>Note: Game restart required in order for any changes to these settings to take effect.</TinyTweaks.GameRestartRequired>

    <!-- QoL Changes -->

    <TinyTweaks.QualityOfLifeChangesHeading>Quality-of-Life Changes</TinyTweaks.QualityOfLifeChangesHeading>

    <TinyTweaks.QoLChanges.CaravanFoodRestrictions>Assign food restrictions for caravans</TinyTweaks.QoLChanges.CaravanFoodRestrictions>
    <TinyTweaks.QoLChanges.CaravanFoodRestrictions_ToolTip>When selecting one of your caravans on the world map and going to the 'Items' tab, there will be an 'assign food restrictions' button next to the 'assign drug policies' button.</TinyTweaks.QoLChanges.CaravanFoodRestrictions_ToolTip>

    <TinyTweaks.QoLChanges.AutoAssignAnimalFollowSettings>Automatically assign animals to follow their master</TinyTweaks.QoLChanges.AutoAssignAnimalFollowSettings>
    <TinyTweaks.QoLChanges.AutoAssignAnimalFollowSettings_ToolTip>Animals that have been trained in obedience will automatically be assigned to follow their master when drafted or doing fieldwork.</TinyTweaks.QoLChanges.AutoAssignAnimalFollowSettings_ToolTip>

    <TinyTweaks.QoLChanges.AutoRemoveTerrainPumpDry>Automatically remove finished moisture pumps</TinyTweaks.QoLChanges.AutoRemoveTerrainPumpDry>
    <TinyTweaks.QoLChanges.AutoRemoveTerrainPumpDry_ToolTip>Moisture pumps that have finished pumping will be automatically designated to be uninstalled or deconstructed, whichever is appropriate.</TinyTweaks.QoLChanges.AutoRemoveTerrainPumpDry_ToolTip>

    <TinyTweaks.QoLChanges.SmarterMedicalBedSelection>Smarter medical bed selection</TinyTweaks.QoLChanges.SmarterMedicalBedSelection>
    <TinyTweaks.QoLChanges.SmarterMedicalBedSelection_ToolTip>Note: This setting may affect performance.\n\nPawns who are assigned to receive surgery will prefer beds with higher surgery success chance, while pawns who have illnesses will try to avoid using those beds whenever appropriate and possible.</TinyTweaks.QoLChanges.SmarterMedicalBedSelection_ToolTip>

    <TinyTweaks.QoLChanges.AlphabeticalBillList>Sort workbench bill list alphabetically</TinyTweaks.QoLChanges.AlphabeticalBillList>
    <TinyTweaks.QoLChanges.AlphabeticalBillList_ToolTip>The drop-down list when clicking the 'Bills' button on any workbench will be sorted alphabetically.</TinyTweaks.QoLChanges.AlphabeticalBillList_ToolTip>

    <TinyTweaks.QoLChanges.ViewableTurretStats>Viewable turret weapon stats</TinyTweaks.QoLChanges.ViewableTurretStats>
    <TinyTweaks.QoLChanges.ViewableTurretStats_ToolTip>When viewing a turret's stats through its info card, you will also be able to see the stats of the weapon that is mounted on top.</TinyTweaks.QoLChanges.ViewableTurretStats_ToolTip>


    <TinyTweaks.QoLChanges.ChangeBuildableDefDesignationCategories>Change architect menu tabs</TinyTweaks.QoLChanges.ChangeBuildableDefDesignationCategories>
    <TinyTweaks.QoLChanges.ChangeBuildableDefDesignationCategories_ToolTip>Certain architect menu tabs from certain mods will be merged with vanilla architect tabs (e.g. 'Furniture+' from More Furniture merged into 'Furniture'). In some cases, new architect tabs may be added too (e.g. buildings from LWM Deep Storage will get their own 'Storage' tab).</TinyTweaks.QoLChanges.ChangeBuildableDefDesignationCategories_ToolTip>

    <TinyTweaks.QoLChanges.ChangeDefLabels>Consistent label casing</TinyTweaks.QoLChanges.ChangeDefLabels>
    <TinyTweaks.QoLChanges.ChangeDefLabels_ToolTip>The labels of things such as items and recipe bills will be cased just like vanilla (e.g. White Composite Water Tower => White composite water tower).</TinyTweaks.QoLChanges.ChangeDefLabels_ToolTip>

    <!-- Bug Fixes -->

    <TinyTweaks.BugFixesHeading>Bug Fixes</TinyTweaks.BugFixesHeading>

    <TinyTweaks.BugFixes.MeleeArmourPenetration>Melee armour penetration</TinyTweaks.BugFixes.MeleeArmourPenetration>
    <TinyTweaks.BugFixes.MeleeArmourPenetration_ToolTip>Preset armour penetration values for melee weapons such as spears will scale with the weapon's quality and stuff it's made out of.</TinyTweaks.BugFixes.MeleeArmourPenetration_ToolTip>

    <!-- Balance Changes -->

    <TinyTweaks.BalanceChangesHeading>Balance Changes</TinyTweaks.BalanceChangesHeading>

    <TinyTweaks.BalanceChanges.BloodPumpingAffectsBleeding>Blood pumping affects bleeding</TinyTweaks.BalanceChanges.BloodPumpingAffectsBleeding>
    <TinyTweaks.BalanceChanges.BloodPumpingAffectsBleeding_ToolTip>Pawn bleed rates will be multiplied by their blood pumping capacities.</TinyTweaks.BalanceChanges.BloodPumpingAffectsBleeding_ToolTip>

    <TinyTweaks.BalanceChanges.ChangeQualityDistribution>Change quality distribution</TinyTweaks.BalanceChanges.ChangeQualityDistribution>
    <TinyTweaks.BalanceChanges.ChangeQualityDistribution_ToolTip>Skill matters significantly more when producing items that have quality. Quality distribution is also centred around level 6 instead of level 4.</TinyTweaks.BalanceChanges.ChangeQualityDistribution_ToolTip>

    <TinyTweaks.BalanceChanges.DelayedSkillDecay>Delayed skill decay</TinyTweaks.BalanceChanges.DelayedSkillDecay>
    <TinyTweaks.BalanceChanges.DelayedSkillDecay_ToolTip>8 in-game hours must pass since a pawn last gained at least 2000 experience in a given skill before skill decay kicks in.</TinyTweaks.BalanceChanges.DelayedSkillDecay_ToolTip>

    <TinyTweaks.BalanceChanges.MannedTurretsUsePawnStats>Manned turrets use the pawn's stats</TinyTweaks.BalanceChanges.MannedTurretsUsePawnStats>
    <TinyTweaks.BalanceChanges.MannedTurretsUsePawnStats_ToolTip>Manned turrets will use the manning pawn's shooting accuracy and aiming speed stats.</TinyTweaks.BalanceChanges.MannedTurretsUsePawnStats_ToolTip>


    <TinyTweaks.BalanceChanges.NormaliseConstructionSpeed>Normalise construction speed</TinyTweaks.BalanceChanges.NormaliseConstructionSpeed>
    <TinyTweaks.BalanceChanges.NormaliseConstructionSpeed_ToolTip>Normalises construction and smoothing speed to 100% like all other speed stats.</TinyTweaks.BalanceChanges.NormaliseConstructionSpeed_ToolTip>

    <!-- Mod Tweaks -->

    <TinyTweaks.ModTweaksHeading>Mod Tweaks</TinyTweaks.ModTweaksHeading>


    <TinyTweaks.ModTweaks.DubsBadHygiene>Dubs Bad Hygiene</TinyTweaks.ModTweaks.DubsBadHygiene>

    <TinyTweaks.ModTweaks.DubsBadHygiene.DumpingStockpilesAcceptWaste>Dumping stockpiles automatically accept 'Waste' items</TinyTweaks.ModTweaks.DubsBadHygiene.DumpingStockpilesAcceptWaste>
    <TinyTweaks.ModTweaks.DubsBadHygiene.DumpingStockpilesAcceptWaste_Tooltip>Newly created dumping stockpile zones will automatically accept bed pans, biosolids and fecal sludge.</TinyTweaks.ModTweaks.DubsBadHygiene.DumpingStockpilesAcceptWaste_Tooltip>

    <TinyTweaks.ModTweaks.DubsBadHygiene.CheaperLogBoilers>Cheaper log boilers - restart required</TinyTweaks.ModTweaks.DubsBadHygiene.CheaperLogBoilers>
    <TinyTweaks.ModTweaks.DubsBadHygiene.CheaperLogBoilers_Tooltip>Reduces the steel requirement for building log boilers from 200 to 100 - more in line with the 80 cost for other boilers.</TinyTweaks.ModTweaks.DubsBadHygiene.CheaperLogBoilers_Tooltip>

    <TinyTweaks.ModTweaks.DubsBadHygiene.NerfFixtureBeauty>Nerf fixture beauty values - restart required</TinyTweaks.ModTweaks.DubsBadHygiene.NerfFixtureBeauty>
    <TinyTweaks.ModTweaks.DubsBadHygiene.NerfFixtureBeauty_Tooltip>Reduces the beauty values of all fixtures (e.g. toilets, bathtubs) to 0, with primitive fixtures being reduced to -8.</TinyTweaks.ModTweaks.DubsBadHygiene.NerfFixtureBeauty_Tooltip>


    <TinyTweaks.ModTweaks.FertileFields>Fertile Fields</TinyTweaks.ModTweaks.FertileFields>

    <TinyTweaks.ModTweaks.FertileFields.CompostBillsExcludeRaw>Compost bills exclude raw food - restart required</TinyTweaks.ModTweaks.FertileFields.CompostBillsExcludeRaw>
    <TinyTweaks.ModTweaks.FertileFields.CompostBillsExcludeRaw_Tooltip>The 'Make compost' bills at a butcher's table will no longer default to also accepting raw food that is perfectly good for use in cooking.</TinyTweaks.ModTweaks.FertileFields.CompostBillsExcludeRaw_Tooltip>


    <TinyTweaks.ModTweaks.TurretExtensions>Turret Extensions</TinyTweaks.ModTweaks.TurretExtensions>

    <TinyTweaks.ModTweaks.TurretExtensions.OverrideMannedTurretsFunctionality>Override manned turrets functionality</TinyTweaks.ModTweaks.TurretExtensions.OverrideMannedTurretsFunctionality>
    <TinyTweaks.ModTweaks.TurretExtensions.OverrideMannedTurretsFunctionality_Tooltip>All manned turrets will use the manning pawn's shooting accuracy, rather than just those that have been patched for Turret Extensions.</TinyTweaks.ModTweaks.TurretExtensions.OverrideMannedTurretsFunctionality_Tooltip>

    <TinyTweaks.ModTweaks.TurretExtensions.OverrideStatDisplayFunctionality>Override stat display functionality</TinyTweaks.ModTweaks.TurretExtensions.OverrideStatDisplayFunctionality>
    <TinyTweaks.ModTweaks.TurretExtensions.OverrideStatDisplayFunctionality_Tooltip>When viewing the stats of a turret, use this mod's code for doing so instead of Turret Extensions'. Do note that while Turret Extensions goes into more specifics (hence this being disabled by default), this mod has been more efficiently coded.</TinyTweaks.ModTweaks.TurretExtensions.OverrideStatDisplayFunctionality_Tooltip>

    <!-- Tiny Additions -->

    <TinyTweaks.TinyAdditionsHeading>Tiny Additions</TinyTweaks.TinyAdditionsHeading>

    <TinyTweaks.TinyAdditions.RandomStartingSeason>Random starting season option</TinyTweaks.TinyAdditions.RandomStartingSeason>
    <TinyTweaks.TinyAdditions.RandomStartingSeason_ToolTip>When opening the advanced settings upon generating a new planet, there will also be an option to have a random starting season.</TinyTweaks.TinyAdditions.RandomStartingSeason_ToolTip>

</LanguageData>